.App {
  text-align: center;
  background-color: #000;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  color: #0ff;
}

.App h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #ff00ff; /* neon pink */
  text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff4dff,
    0 0 30px #ff66ff;
  margin-bottom: 30px;
  display: inline-block;
  animation: glitter 1s infinite alternate; /* fast flicker */
}

/* Glitter animation using shadow */
@keyframes glitter {
  0% {
    text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff4dff,
    0 0 30px #ff66ff;
  }
  50% {
    text-shadow: 
    0 0 10px #ff33ff,
    0 0 18px #ff33ff,
    0 0 28px #ff66ff,
    0 0 40px #ff99ff;
    }
  100% {
    text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff4dff,
    0 0 30px #ff66ff;
    }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Strudel editor label */
.editor-label {
  text-align: center;
  margin-bottom: 14px;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: #0ff;
  display: block;
}